@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Bold.ttf);
}
.forms {
    margin-left: 50px;
    margin-top: 10px;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    text-align: center;
}
h1 {
    font-family: poppins;
    text-transform: uppercase;
    color: #060508;
}
.efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    align-items: center;
    width: 600px;
    height: 600px;
    margin-left: 375px;
    margin-top: 20px;
}
